<div class="container">
  <h1>Editing Employee</h1>
  <%= render 'form', path: employee_path(@employee.dig("id")), method: :put, back_path: employees_path, employee_name: @employee.dig("name"), employee_position: @employee.dig("position"), employee_salary: @employee.dig("salary"), employee_date_of_birth: @employee.dig("date_of_birth") %>
</div>
