<div class="container">
  <h1>New Employee</h1>
  <%= render 'form', path: employees_path, method: :post, back_path: employees_path, employee_name: nil, employee_position: nil, employee_salary: nil, employee_date_of_birth: nil %>
</div>
